<div class=" w-[1000px] h-[1000px] pt-4 ">
    <div class="flex flex-col">
      <div class="overflow-x-auto shadow-md sm:rounded-lg">
          <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden ">
                  <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                      <thead class="bg-gray-100 dark:bg-gray-700">
                          <tr>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                  name
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                  family Name
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                  accession Date
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                nationality
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Identify Document Type
                              </th>
                              <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                identify number
                              </th>
                              <th scope="col" class="p-4">
                                  <!-- <span class="sr-only">edit</span> -->
                                  <a href="#" (click)="openPopup()" class="text-blue-600 dark:text-blue-500 hover:underline">hunting</a>
                              </th>
                              <th scope="col" class="p-4">
                                <div class="relative w-48 inline-block">
                                    <select (change)="onCompetitionCodeChange($event)"  class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                            <option value="">choose code...</option>
                                            <option *ngFor="let competitions of listCompetition" [value]="competitions.id">{{competitions.id }} : {{competitions.location}}</option>
                                    </select>
                                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                      <!-- Heroicon name: solid/chevron-down -->
                                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5 7l5 5 5-5H5z"/></svg>
                                    </div>
                                  </div>
                              </th>
                          </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                          <tr *ngFor="let member of filteredMembers" class="hover:bg-gray-100 dark:hover:bg-gray-700">
                              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ member.name }}</td>
                              <td class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white">{{ member.familyName }}</td>
                              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ member.accessionDate }}</td>
                              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ member.nationality }}</td>
                              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ member.identifyDocumentType }}</td>
                              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ member.identifyNumber }}</td>
                              <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                <!-- <a href="#" (click)="openPopup()" class="text-blue-600 dark:text-blue-500 hover:underline">hunting</a> -->
                                <span class="sr-only">edit</span>
                              </td>
                              <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                <a (click)="deleteMember(member)" href="#" class="text-red-600 dark:text-red-500 hover:underline">delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <app-add-hunting *ngIf="isPopupVisible"  (closePopup)="closePopup()"></app-add-hunting>
    </div>
  </div>
</div>
